@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-Bold.ttf), url(../../assets/fonts/Montserrat-Medium.ttf),
    url(../../assets/fonts/Montserrat-Regular.ttf), url(../../assets/fonts/Montserrat-SemiBold.ttf);

}

@font-face {
  font-family: MontserratBold;
  src: url(../../assets/fonts/Montserrat-Bold.ttf);

}

@font-face {
  font-family: MontserratItalic;
  src: url(../../assets/fonts/Montserrat-Italic.ttf);

}

@font-face {
  font-family: MontserratSemiBold;
  src:url(../../assets/fonts/Montserrat-SemiBold.ttf);

}

@font-face {
  font-family: MontserratRegular;
  src:url(../../assets/fonts/Montserrat-Regular.ttf);

}
@font-face {
  font-family: MontserratExtraBols;
  src:url(../../assets/fonts/Montserrat-ExtraBold.ttf);

}

@font-face {
  font-family: MontserratMedium;
  src:url(../../assets/fonts/Montserrat-Medium.ttf);

}

@font-face {
  font-family: aleo;
  src: url(../../assets/fonts/Aleo-Bold.ttf), url(../../assets/fonts/Aleo-Regular.ttf);
}

@font-face {
  font-family: aleoRegular;
  src: url(../../assets/fonts/Aleo-Regular.ttf);
}

@font-face {
  font-family: aleoBold;
  src: url(../../assets/fonts/Aleo-Bold.ttf);
}

.MontserratBold{
  font-family: MontserratBold !important;
}

.aleoRegular{
  font-family:aleoRegular !important;
}
body {
  font-family: MontserratRegular !important;
  color: #4d4643;
}

.MREgular{
  font-family: MontserratRegular !important;
}



.text-sucess, a, .title-logo, .title-logo1 {
  color: #598c3e;

}
.title-logo {
  margin-bottom:10px;
}

div, p, .main-descrption{
  font-family: MontserratRegular !important;
}
.text-sucess{
  font-family: aleo !important;
}

.aleoBold{
  font-family: aleoBold !important;
}

.MontserratExtraBols{
  font-family: MontserratExtraBols !important;
}

.read-more{
  font-family: MontserratMedium !important;
}

.main-descrption2, .contact-head,.MsemiBold{
  font-family: MontserratSemiBold !important;
}

.MontserratItalic{
  font-family: MontserratItalic !important;
}

a:hover {
  color: #598c3e;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #598c3e;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #598c3e;
  transition: 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #e6e6e6;
  transition: all 0.5s;
  z-index: 997;
  padding: 2px 0;

}

#header .logo{

  margin: 0;
  padding: 0;
}

#header .logo a {
  color: #111;
}

#header .logo a span {
  color: #598c3e;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #111;
  transition: 0.3s;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: MontserratRegular !important;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #598c3e;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
 /* padding: 10px 0;*/
  background: #fff;
  /*box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);*/
  transition: 0.3s;
 /* border-top: 2px solid #598c3e;*/
 border-bottom: 1px solid gray;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;

}

.nav-menu .drop-down li {
  position: relative;
  border-top: 1px solid gray;
}

.nav-menu .drop-down ul a {
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: #111;
  font-family: MontserratRegular !important;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #598c3e;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #598c3e;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #111;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #598c3e;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-left: 14px;
  margin-left: 20px;
  border-left: 1px solid #c4c4c4;
}

.header-social-links a {
  color: #a0a0a0;
  padding-left: 6px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

.header-social-links a:hover {
  color: #598c3e;
}

@media (max-width: 768px) {
  .header-social-links {
    padding: 0 48px 0 0;
    border-left: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top:30%;

}

#hero .carousel-container .read-more{
  padding:5px 35px;
  width: fit-content;
  background: #73aa4f;
}
#hero .carousel-container .read-more a{
  color : white !important;
}

.copy-right-w{
  font-size:12px;
  margin-top: 60%;
}
.main-descrption{
  font-size:18px;
}
.main-descrption2{
  font-size:13px;
  color : #6e9647 !important;
  font-weight:600;
}
#hero .carousel-content {
  padding: 10px;
  color: #fff;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

#hero .carousel-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #598c3e;
}

#hero .btn-get-started:hover {
  background: #598c3e;
  color: #fff;
  text-decoration: none;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #598c3e;
}

@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 100%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 992px) {
  #hero .carousel-container {
    top: 30%;
  }
  #hero .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #hero .carousel-content p {
    font-size: 15px;
  }
}

@media (max-height: 500px) {
  #hero {
    /* height: 120vh; */
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f7f7;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #598c3e;
  bottom: 0;
  left: calc(50% - 25px);
}

.bg-success{
  background: #598c3e !important;
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}



/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us{
  background: #f9f9f9;
}

.font-weight-6{
  font-weight: 600;
}

.about-us .content h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-us .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

.about-us .content .about-us-img{

  max-width:80% !important;

}

.values{
  background: url("../../assets/img/About/about-value-img.png")  no-repeat ;
  background-repeat: no-repeat;
  background-size:  100% 100%, cover !important;


}

.carousal-content-values {
  width : 100% !important;
}

.carousel-container-values{
  top : 0 !important;
}




/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq{
  background: url("../../assets/img/About/approache-img.png") no-repeat  !important;
  background-repeat: no-repeat;
  background-size: 100% 100%,contain !important;
  background-position: center;
}



.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  background: #ededed;
  border-radius: 0 50px 50px 0;
  position: relative;
  width:75%;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
}


@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*----------------------------------- */
.what-we-do {
  background: #f9f9f9;
}

.text-dark{
  color : #666666 !important
}

.what-we-do-img{
  max-width:100%;
}

.what-we-do-img2{
    max-width : 80%;
}
.copy-right-dark{
  font-size : 12px;
}

/* ------------------------------------------*/

/* ----------------------- our product ------------------------------------*/

.product{
  background : #fdfdfd;
}

.img-meat{
  max-width : 150px;
}

.img-beakery{
  max-width: 65%;
}
.footer-imgs-1{
  max-width:80%;
}
.reatailProduct{
  max-width:25%;
}

.retails1mg1, .side-retail-product{
  max-width:65%;
}
.side-beaker{
  max-width:90%;
}
.img-side-meat{
  max-width: 90%;
}

/* ---------------------------------------------------------------*/

/* --------------------------key prand------------------------------*/
.key-prand{
  background-color: #f9f9f9;
}

.key-prand .title-prand{
  background-color: #598c3e;
  color : #ffffff;
  width:fit-content;
  padding : 10px 30px;
  font-size:20px;
}

.key-brand-logo{
  max-width: 60%;
}

/* -------------------------- end key prand------------------------------*/



/*--------------------------------------------------------------
start contact
--------------------------------------------------------------*/
.contact-content{
  font-family: MontserratMedium !important;

}

.contact{
  background-color: #f9f9f9;
}

/*--------------------------------------------------------------
end contact
--------------------------------------------------------------*/

.col-sm-5{
  font-size:12px
}

ul{
  list-style: none;
}

/*--------------- start responsive on mobile----------------------*/
@media only screen and (max-width: 500px)  {
  #hero .carousel-content p {
    font-size: 12px ;
}

.content-of-values, .approach-content, .contact-content, div,p,span{
  font-size: 12px !important;
}

.solgan{
  font-size:8px !important;
}

h1, .approach-head,h5{
  font-size:14px !important;
}
.key-brand-logo{
  max-width:90%;
  margin-left:10px;
}

.faq .faq-list li{
  width:100% !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-auto{
  font-size:8px !important;
  /* padding-right:0px !important; */
}

.key-prand > div > row > col-2{
padding-right:0px !important;
}

.Kp{

  padding-right:0px !important;
  margin-right:10px;
}

.title-logo{
  margin-left:10px;
}

.contact-section{
  margin-left:20px;
}


}

@media only screen and (min-width: 992px){
  .toggleA{
    display:none !important
  }
  .value-section{
    height:300px !important;
  }

}

@media only screen and (max-width: 991px){
  .toggleA{
    display:block !important
  }

}